# Project 7-- [Chelsea] [Medina]

**TA Help:** Dr.Ward

- Help with figuring out how to write a function.
    
**Collaboration:**
    
- N/A

In [1]:
library(data.table)

titles <- data.frame(fread("/anvil/projects/tdm/data/movies_and_tv/titles.csv"))
people <- data.frame(fread("/anvil/projects/tdm/data/movies_and_tv/people.csv"))
ratings <- data.frame(fread("/anvil/projects/tdm/data/movies_and_tv/ratings.csv"))

In [2]:
options(jupyter.rich_display = F)

In [3]:
options(repr.matrix.max.cols = 50, repr.matrix.max.rows = 200)

# Question 1

In [4]:
unique(unlist(strsplit(unique(titles$genres), ",")))

 [1] "Documentary" "Short"       "Animation"   "Comedy"      "Romance"
 [6] "Sport"       "News"        "Drama"       "Fantasy"     "Horror"
[11] "Biography"   "Music"       "War"         "Crime"       "Western"
[16] "Family"      "Adventure"   "Action"      "History"     "Mystery"
[21] "\\N"         "Sci-Fi"      "Musical"     "Thriller"    "Film-Noir"
[26] "Talk-Show"   "Game-Show"   "Reality-TV"  "Adult"

Looking at all the different listed genres (in the titles table).

In [5]:
sort(table(titles[grepl("Comedy", titles$genres), ]$premiered), decreasing = TRUE)

 2016  2017  2015  2018  2014  2013  2019  2012  2020  2011  2010  2009  2008
84227 83916 80199 78393 77034 71963 70457 65305 61237 57892 48825 43095 39734
 2007  2006  2005  2021  2004  2003  2002  2001  1998  1999  2000  1997  1996
37103 34078 28952 28693 26087 23804 21090 19903 18826 18500 18195 17180 15480
 1995  1994  1993  1991  1992  1989  1990  1987  1988  1986  1973  1982  1975
14673 12423 11570 11346 10933  9180  8903  8151  7597  6858  6748  6533  6245
 1980  1974  1983  1985  1976  1972  1984  1977  1971  1969  1970  1981  1979
 6173  6156  6115  6070  6043  6035  6017  5936  5752  5572  5543  5521  5408
 1978  1967  1965  1968  1966  1964  1963  1962  1961  1960  1955  1959  1958
 5402  5111  4963  4895  4777  4356  4337  3957  3953  3680  3321  3204  3196
 1956  1957  1914  1913  1954  1915  1912  1953  1916  1911  1952  1951  1917
 3083  3074  3043  3005  2959  2745  2639  2412  2238  1961  1883  1882  1709
 1910  1950  1909  1920  1918  1919  1908  1949  1927  1921  1926  1925  1928
 1622  1510  1360  1325  1232  1102  1090  1051  1036   997   993   943   917
 1922  1938  1929  1937  1936  1931  1930  1924  1934  1933  1923  1935  2022
  912   883   876   871   852   845   808   801   797   773   766   766   753
 1932  1907  1939  1948  1941  1940  1947  1942  1946  1943  1944  1903  1945
  739   736   716   714   691   663   653   635   566   561   466   429   420
 1906  1905  1904  1900  1902  1899  1898  1901  1897  1896  2023  2024  1895
  407   366   344   239   229   201   192   165   112    42    39    11     8
 1894  2026  1892  1893  2025
    5     3     1     1     1

Looking at the years column and the genres column to find the years with most comedies.

# Question 2

In [6]:
episodes <- data.frame(fread("/anvil/projects/tdm/data/movies_and_tv/episodes.csv"))

In [7]:
resultDF <- merge(episodes,titles, by.x = "episode_title_id" , by.y = "title_id")

In [8]:
head(resultDF)

  episode_title_id show_title_id season_number episode_number type
1 tt0041951        tt0041038      1            9              tvEpisode
2 tt0042816        tt0989125      1            17             tvEpisode
3 tt0042889        tt0989125     NA            \\N            tvEpisode
4 tt0043426        tt0040051      3            42             tvEpisode
5 tt0043631        tt0989125      2            16             tvEpisode
6 tt0043693        tt0989125      2            8              tvEpisode
  primary_title                     original_title                    is_adult
1 The Tenderfeet                    The Tenderfeet                    0
2 Othello                           Othello                           0
3 The Tragedy of King Richard II/II The Tragedy of King Richard II/II 0
4 Coriolanus                        Coriolanus                        0
5 The Life of King Henry V          The Life of King Henry V          0
6 Julius Caesar                     Julius Caesar                     0
  premiered ended runtime_minutes genres
1 1949      NA     30             Western
2 1950      NA    135             Drama
3 1950      NA    145             Drama
4 1951      NA     60             Drama
5 1951      NA    133             Drama
6 1951      NA     NA             Drama

In [9]:
dim(resultDF[resultDF$show_title_id == "tt0108778", ])

[1] 235  12

# Question 3

In [10]:
tempDF <- resultDF[resultDF$show_title_id == "tt0108778", ]

In [11]:
head(tempDF)

      episode_title_id show_title_id season_number episode_number type
93207 tt0583431        tt0108778      7            8              tvEpisode
93208 tt0583432        tt0108778     10            9              tvEpisode
93209 tt0583433        tt0108778     10            17             tvEpisode
93210 tt0583435        tt0108778      8            1              tvEpisode
93211 tt0583436        tt0108778     10            1              tvEpisode
93212 tt0583437        tt0108778      5            1              tvEpisode
      primary_title
93207 The One Where Chandler Doesn't Like Dogs
93208 The One with the Birth Mother
93209 The Last One
93210 The One After I Do
93211 The One After Joey and Rachel Kiss
93212 The One After Ross Says Rachel
      original_title                           is_adult premiered ended
93207 The One Where Chandler Doesn't Like Dogs 0        2000      NA
93208 The One with the Birth Mother            0        2004      NA
93209 The Last One                             0        2004      NA
93210 The One After I Do                       0        2001      NA
93211 The One After Joey and Rachel Kiss       0        2003      NA
93212 The One After Ross Says Rachel           0        1998      NA
      runtime_minutes genres
93207 22              Comedy,Romance
93208 22              Comedy,Romance
93209 30              Comedy,Romance
93210 22              Comedy,Romance
93211 22              Comedy,Romance
93212 22              Comedy,Romance

# Question 4